In [1]:
from importlib_metadata import version
import pandas as pd
from pycaret.regression import *

In [5]:
df = pd.read_csv('./datasets/paas_data.csv')

In [8]:
s = setup(data = df, target = 'Price', session_id=123, normalize=True, transformation=True,
          remove_multicollinearity=True, multicollinearity_threshold=0.95,)

In [14]:
top3 = compare_models(exclude = ['ransac'], n_select = 5)

In [15]:
type(top3)

list

In [17]:
print(top3)

[ExtraTreesRegressor(n_jobs=-1, random_state=123), LGBMRegressor(random_state=123), GradientBoostingRegressor(random_state=123), RandomForestRegressor(n_jobs=-1, random_state=123), AdaBoostRegressor(random_state=123)]

In [23]:
lr = create_model('lr', fold = 5)

In [24]:
lr = create_model('lr', round = 3)

In [25]:
plot_model(lr, plot = 'parameter')

               Parameters
copy_X               True
fit_intercept        True
n_jobs                 -1
normalize      deprecated
positive            False